*.o
*.lo
*.la
*~
*.a
*.so
*.so.*
*.d
*.patch
*.pc

.deps
.dirstamp
.libs
/*.tar*

/autom4te.cache
/m4/libtool.m4
/m4/lt*
/aux_scripts
/config.log
/config.status
stamp-h1
/Makefile
/libtool
/configure
/aclocal.m4
/Makefile.in
/compile
/depcomp
/install-sh
/missing

/inc/config.h*
/inc/roxml-doxy.h*
/doxy.cfg
/man.cfg
/docs/html
/docs/latex
/docs/man
/unittest/out.*xml*

/roxml
/mount.fuse.xml
/unittest/roxml.unitC
/unittest/roxml.tiny.unitC
/unittest/roxml.mem
/unittest/roxml.perf



