Source: libroxml
Priority: extra
Maintainer: Tristan Lelong <tristan.lelong@libroxml.net>
Build-Depends: debhelper (>= 7), dpkg (>= 1.15.6~), doxygen
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.libroxml.net

Package: libroxml0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Light C XML parsing library
 Because XML parsing is always hard to reinvent 
 Because very often, xml libraries are too big to fit with little application 
 libroxml allow you to easily: 
   - load / unload document from files 
   - load / unload document from buffer 
   - navigate thru the xml tree using libroxml C/C++ API 
   - read attributes and attributes' values for nodes 
   - get text content of nodes 
   - use XPath expressions 
   - modify the loaded XML tree 
   - create XML from scratch 
   - apply modification from the loaded XML tree to a file or buffer 

Package: libroxml-dev
Section: libdevel
Architecture: any
Depends: libroxml0 (= ${binary:Version}), ${misc:Depends}
Description: libroxml development files
 This package includes all the development files for creating softwares 
 relying on libroxml for XML handling.

Package: libroxml-dbg
Section: debug
Architecture: any
Depends: libroxml0 (= ${binary:Version}), ${misc:Depends}
Description: Light C XML parsing library debug files
 This package contains all the binaries with debug symbols allowing
 for clear debugging of software relying on the libroxml.
