Source: libroxml
Priority: extra
Maintainer: Tristan Lelong <blunderer@blunderer.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Section: libs
Homepage: http://libroxml.googlecode.com

Package: libroxml-dev
Section: libdevel
Architecture: any
Depends: libroxml0 (= ${binary:Version})
Description: libroxml development files
 libroxml is a light but powerful XML parsing library with C API.
 It provides XPath support and navigation funtions.
 You can also use libroxml for XML creation/edition.

Package: libroxml0
Section: libs
Architecture: i386
Depends: ${shlibs:Depends}
Description: C XML parsing library
 libroxml is a light but powerful XML parsing library with C API.
 It provides XPath support and navigation funtions.
 You can also use libroxml for XML creation/edition.
